/.env.local
/.env.local.php
/.env.*.local
/var/
/vendor/
/composer.lock
.DS_Store
.idea/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

init.sh
.env.local
install_service.sh
Makefile
